.emisor
{
  color: red;
  font-weight: bold;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 8px;
  border: 2px solid blue;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
  text-align: left;
  position: relative;
    
}

.receptor
{
  color: green;
  font-weight: bold;
  width: 250px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 8px;
  border: 2px solid blue;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
  text-align: left;
  position: relative;
  margin-left: 230px;
  
}
  
main
{
  position: relative;  
}  

#titulo
{
  font-size:14pt;  
  max-width: 540px;
  font-weight: bold;
  color: rgb(126, 168, 240);
  text-align: center;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto; 
  border: 2px solid rgb(39, 39, 209);
  border-radius: 8px;
}

#ficheroTXT
{
  min-height: 100vh;
  max-width: 40vw;
  padding-left: 30px; 
  padding-top: 30px;
  background-color: rgb(234, 235, 241); 
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto; 
}

    
